* {
  box-sizing: border-box;
}

body {
  background: #c8c2e8;
  padding: 20px;
  color: #fdf0d5;
}

.pop-up-form {
  width: 500px;
  background-color: #eee;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 30px #12121288;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s ease-in;
}

.pop-up-form input,
.pop-up-form .form-select {
  margin-bottom: 20px;
  padding: 10px 20px;
}
.pop-up-form .buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.pop-up-form .buttons button {
  flex: 1;
}

.hidden-pop-up {
  transform: translate(-50%, -50%) scale(0);
}

.shown-pop-up {
  transform: translate(-50%, -50%) scale(1);
}

table,
td,
th,
table input {
  border: 2px solid #fdf0d5;
  padding: 20px;
  text-align: center;
}

table {
  margin-top: 20px;
  width: 100%;
}

.editable-ajax-input {
  user-select: none;
}

.toast-message {
  transition: 3s;
  color: green;
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  animation: small-big 0.1s;
}

.toast-message-error {
  color: red;
}
.shown-toast-message {
  transform: scale(1);
}

@keyframes small-big {
  from {
    top: 0;
  }
  to {
    top: 2%;
  }
}
